<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{{formatDate createdAt}}</h2>
    <p>{{body}}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-warning">DELETE</button>
    </div>
  </div>
</div>