<div class="flex justify-center content-center h-full items-center">

  <form
    class="flex flex-col justify-center content-center p-10 bg-primary h-[500px] w-[700px]"
    id="loginForm"
  >
    <label for="email" class="decoration-4 text-xl text-black">Email:</label>
    <input
      type="email"
      name="email"
      id="emailInput"
      class="decoration-4 text-xl text-black rounded-lg h-10"
    />

    <label
      for="password"
      class="decoration-4 text-xl text-black"
    >Password:</label>
    <input
      type="password"
      name="password"
      id="passwordInput"
      class="decoration-4 text-xl text-black rounded-lg h-10"
    />

    <button type="submit" class="btn btn-success mt-3 w-[50%] self-center">
      Login
    </button>
  </form>

</div>

<script src="/js/login.js"></script>